*{

    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body{

    font-family:'Times New Roman', Times, serif;
    background: linear-gradient(220deg,#808080,#e6e6e6);
    color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    padding: 40px;
}



form {
    background: white;
    padding: 20px;
    border: 2px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    width: 100%;
}

fieldset{

    border: none;
}

button {
    background: #4A90E2;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
    margin-top: 10px;
    font-size: 1rem;
}

label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
}

.input-file{
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;

}










